#traffic-signal{
    border: 8px solid black;
    padding: 10px 3px;
    width: 80px;
    height: 150px;
    border-radius:15px;
    margin-top: 350px;
    margin-left: 900px;
    background: black;
}
#traffic-signal > div{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    opacity: .3;
    margin-left: 15px;
}
#green{
    background-color: green;
}
#yellow{
    background-color: yellow;
}
#red{
    background-color: red;
}